header > .Btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  border: 0;
  width: 3rem;
  height: 3rem;
  margin-left: 20rem;
}

.Btn > img{
  margin: 1rem 2rem;
  width: 8rem;
  height: auto;
}