
.login {
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    gap: 10px;
    border-top-left-radius: 70px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 30px;
}

h2{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10vh 0;
}

.login > a{
    font-size: 30px;
    color: rgb(0, 0, 0);
}