#back > img{
  width: 100px;
  height: auto;
  position: relative;
  bottom: 30px;
  left: 20px;
}

#back{
  border: 0;
  background-color: transparent;
}

.logo > img{
  position: relative;
  bottom: 150px;
  width: 500px;
  height: auto;
}

#navBar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  gap: 10px;
  bottom: 210px;
}

#navBar > button{
  height: 2.4rem;
  padding: 0.5 0;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border: 4px solid black;
  border-radius: 30px;
  font-size: 17px;
}

#navBar > button:hover{
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.input{
  background: none;
  border: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  position: relative;
  left: 120px;
  bottom: 240px;
}

.input::placeholder{
  color: black;
}

.pokemon{
  position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    bottom: 280px;
}

#gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: grid;
  margin: 100px 100px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 200px;

}

figure{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 400px;
  height: 520px;
  box-shadow: 0 0 12px;
  border-radius: 20px;
  background-image: url(/utils/forest.jpg);
  background-position: center;
}

figure:hover{
  transform: scale(1.1);
  transition: all 0.7s ease-in-out;
}

figure > img{
  position: relative;
  bottom: 90px;
  width: auto;
  height: 200px;
}

figure > h3{
  position: relative;
  bottom: 60px;
}

figure > #id{
  position: relative;
  top: 60px;
}

figure > h2{
  position: relative;
  bottom: 20px;
}